*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Montserrat, Tahoma, Verdana, sans-serif;
}

body{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(image.jpg);
  height: 100%;
  background-size: contain;
  background-position: center;
	background-attachment: fixed;
}

.main{
	width: 100%;
  height: 105px;
}

nav{
  top: 0;
  width: 100%;
  height: 105px;
  background-color: #000;
  line-height: 100px;
  overflow: hidden;
  position: fixed;
  transition: top 0.4s;
  z-index: 1;
}

#logimg{
  width: 95px;
  height: 95px;
  margin-top: 3px;
  margin-left: 20px;
}

nav ul{
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
}

nav ul li.active a, nav ul li a:hover{
  background: #bd669d;
  color: #000;
  box-shadow: 0 0 10px #bd669d, 0 0 20px #bd669d, 0 0 40px #bd669d;
  transition: all 0.7s ease;
}

.checkbtn{
  font-size: 30px;
  color: #bd669d;
  float: right;
  line-height: 100px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.title{
  width: 85%;
  height: 130px;
  margin: 0 auto;
  background-color: #0009;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.title h1{
  color: #fff000;
  font-size: 60px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  text-decoration-style: double;
  line-height: 125px;
}

.infobox{
  width: 85%;
  height: auto;
  margin: 0 auto;
  border: 2px solid #fff;
  background-color: #0009;
}

.sp-img{
  width: 100%;
  height: auto;
  padding-top: 20px;
  text-align: center;
}

.sp-img #imgmod{
  border: 2px solid #f2f2f2;
}

.sp-img #figdesc{
  font-size: 17px;
  color: #faa094ff;
  text-decoration: underline;
  text-decoration-color: #faa094ff;
}

.sp-inf{
  width: 100%;
  margin-top: 15px;
  padding-top: 5px;
}

.taxa{
  width: 205px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px;
}

.taxa ul{
  list-style-type: none;
}

.taxa ul li{
  color: #fff;
  font-size: 18px;
}

#lulz{
  font-style: italic;
}

.aboutspc{
  width: 100%;
  color: #fff;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.aboutspc h3{
  color: #fff000;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #fff000;
}

.aboutspc p{
  text-align: center;
  font-size: 18px;
}

.aboutspc #char{
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.footer{
  width: 100%;
  height: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #000;
}

.footer p{
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
}

footer p a{
  text-decoration: none;
}

#dev{
  color: #f3b35e;
}

@media screen and (max-width: 768px){
  #logimg{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 57px;
  }

  nav ul{
    margin-right: 56px;
  }

  nav ul li a{
    font-size: 14px;
  }

  .title{
    height: 100px;
  }

  .title h1{
    font-size: 43px;
    line-height: 94px;
  }

  .taxa{
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px){
  .checkbtn{
    display: block;
  }

  #check:checked ~ ul{
    left: 0;
  }

  #logimg{
    margin-left: 30px;
  }

  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #bd669d;
    top: 101px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 40px;
  }

  nav ul li a{
    font-size: 20px;
  }

  nav ul li.active a, nav ul li a:hover{
    background: none;
    color: #08457e;
    box-shadow: none;
  }

  .title, .infobox{
    border: none;
  }

  .title h1{
    font-size: 30px;
  }

  .sp-img{
    padding-top: 0px;
  }

  .sp-img #imgmod{
    width: 90%;
    height: 100%;
  }

  .taxa{
    margin: 0 auto;
  }
}
